header {
    background-color: #FFFFFF;
    background-image: url(../images/header.png);
    background-position-x: left;
    background-position: 20px center;
    background-position-y: top;
    background-repeat: no-repeat;
    height: 70px;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
}